* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #eaeff2;
}

.card {
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 340px;
    padding: 10px 10px;
}

.picture {
    width: 100%;
    height: 250px;
    border-radius: 15px;

}

.card-categorys-box {
    display: flex;
    align-items: center;
}

.card-category-button {
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 2px 6px;
    background-color: #fff;
    border: 1px solid #bdbfbd;
    color: #8c8d8c;
}

.card-category {
    margin: 8px;
    color: #11242a;
}

.card-info {
    color: #8c8d8c;
    margin: 0 8px;
}

.card-bottom-button{
    background-color: #dcf0ff;
    color: #699cc3;
    border: none;
    border-radius: 20px;
    padding: 13px 20px;
    cursor: pointer;

}

.card-bottom-button-box  {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}